* {
    padding: 0;
    margin: 0;
}

#lifeDisplay {
    width: 10%;
    height: 10%;
    text-align: left;
}

canvas {
    border: 1px solid #000;
    display: block;
    margin-bottom: 10px;
    background-color: #00bfff;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#start{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    border: 1px solid black;
}

#gameover {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#gamenn {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 119, 0);
    padding: 2%;
    border: 3px solid black;
    border-radius: 5%;
    z-index: 9;
    width: 100%;
    height: 100%;
}
#reset{
    padding: 1%;
}