*{
    padding: 0;
    margin: 0;
}

canvas {
    background: rgba(0, 0, 255, 0.276);
    display: block;
    margin: 0 auto;
}
.wa{
    justify-content: center;
    width: 80%;
}
.ask{
    display: flex;
    justify-content: space-around;
}
#pls{
    padding: 1%;
}
#mis{
    padding: 1%;
}